---
import '../styles/global.css'

const title = 'Howdy hey there buckarooni'

const titleColor = "red"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style define:vars={{titleColor}}>
    h1 {
      color: var(--titleColor)
    }
  </style>
  <title>{title}</title>
</head>
<body>
  <h1>{title}</h1>
</body>
</html>